/* agora nele aplicamos algumas configurações padrão para retirar a estilização padrão dos navegadores */

/* importando uma fonte que vamos usar em todo nosso projeto */
/* importando o peso de fonte 400 (normal) e 700 (negrito/bold) */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    /* o box-sizing border box facilita nossa vida na criação dos nossos layouts */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* vamos usar a fonte que importamos aqui, a fonte padrão que usaremos é o Open Sans, e caso não tenha ou de algum problema vamos usar a sans-serif */
    font-family: 'Open Sans', sans-serif;
    background-color: #EEE;
}